# MinIO S3-Compatible Storage
MINIO_ROOT_USER=lakehouse_admin
MINIO_ROOT_PASSWORD=SuperSecretMinioPassword123
AWS_REGION=us-east-1

# PostgreSQL
POSTGRES_USER=postgres_admin
POSTGRES_PASSWORD=SuperSecretPgPassword123

# Lakekeeper (Iceberg REST Catalog)
LAKEKEEPER_DB_NAME=lakekeeper
LAKEKEEPER_PORT=8181

# Apache Airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow